<div class="container">
  <div class="row">
    <div class="column">
      <b><%= job.title %></b> - <%= job.start.strftime('%b-%Y') %> to <%= job.end == nil ? "Present" : job.end.strftime('%b-%Y') %> - <%= job.company %> - <%= job.city %>, <%= job.state %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <%= job.summary %>
    </div>
  </div>
  <% unless job.highlights.nil? || job.highlights.empty? then %>
    <div class="row">
      <div class="column">
        <b>Highlights</b>
        <ul>
          <% for highlight in job.highlights do %>
            <li><%= highlight %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>